    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
        color: #4a4a4a;
        line-height: 1.6;
        scroll-behavior: smooth;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .logo {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        color: #d4a373;
        font-weight: bold;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        margin-left: 25px;
    }

    nav ul li a {
        text-decoration: none;
        color: #555;
        font-weight: 400;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #d4a373;
    }

    .hero {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
    .hero h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5rem;
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 30px;
        background: #d4a373;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        transition: background 0.3s;
    }

    .btn:hover {
        background: #bc8a5f;
    }

    /* Sections */
    .container {
        padding: 80px 10%;
        text-align: center;
    }

    .section-title {
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        margin-bottom: 40px;
        color: #d4a373;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .card {
        background: #fefae0;
        padding: 30px;
        border-radius: 15px;
        transition: transform 0.3s;
        border: 3px solid #d4a373;
        border: 1px solid rgba(212,163, 115, 0.8);

    }
    
    .card:hover {
        transform: translateY(-2px);
        border-color: #d4a373;
    }

    footer {
        background: #faedcd;
        padding: 60px 10%;
        text-align: center;
    }
    img {
        width: 100%;    
        max-width: 400px; 
        animation: hover duration timing-function delay iteration-count direction fill-mode; 
    }
    .menu-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    .card img {
        border-radius: 15px;      
        border: 5px solid #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    }
    .hero-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }